{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "forOf": false,
    "modules": false
  },
  "env": {
    "browser": true,
    "node": false,
    "es6": false
  },
  "rules": {
    "strict": 1,
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "no-sparse-arrays": 2,
    "no-with": 2,
    "no-func-assign": 2,
    "valid-typeof": 2,
    "no-extra-semi": 2,
    "no-undef": 2,
    "space-after-keywords": [1, "always"],
    "space-infix-ops": [1, {"int32Hint": true}],
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
    "space-return-throw-case": 1,
    "eol-last": [0]
  }
}
